<scroll-container>
<div class="container p-10">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2>Resultados</h2>
                    <h2>{{resultadosNombre.Nombre}}</h2>
                     <h3>    
                        <label   align="center"> Datos  </label>
                        
                            <div>Edad:{{resultadosNombre.edad}} años</div>
                            <div>Fecha Nacimiento:{{resultadosNombre.FechaNacimiento}} </div>

                            <div>Altura: {{resultadosNombre.altura}} cm </div>
                            <div>Peso:   {{resultadosNombre.peso}} kg</div>
                            <div>Cintura:{{resultadosNombre.Cintura}} cm </div>
                            
                            <div>Cantidad de yougurt:{{resultadosNombre.CantYougurt}} </div>
                            
                        <br/> 
                       
                     </h3>
                      <a href="/resultados" class="btn btn-secondary">Volver</a> 
                </div>
            </div>
        </div>
    </div> 
</div>
</scroll-container>